$body-color: #000;
$v3b1: (
btn-bg:#000000,
btn-txt:#fff,
btn-bg-hvr:#fff,
btn-brdr:#000000,
input-plchldr:#000000,
input-txt:#000000,
input-brdr:#000000,
input-bg:transparent
);
$v3n: (
btn-bg:#000000,
btn-txt:#fff,
btn-bg-hvr:transparent,
btn-brdr:#000000,
input-plchldr:#000000,
input-txt:#000000,
input-brdr:#000000,
input-bg:transparent
);
$modal: (
btn-bg:#000000,
btn-txt:#fff,
btn-bg-hvr:#fff,
btn-brdr:#000000,
);
@import '_partial1'; /*brings the mixings in*/
%desktop-only{
	@include tablet_style{
		display: none;
	}
}
%mobile-only{
	@include desktop_style{
		display: none;
	}
}
.page-wrap{
	overflow:hidden;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.75;
 color: $body-color;
}
.black-rectangle{
	height: 6px;
	width: 40px;
	background-color: #000;
	margin: 2rem 0;
	@include tablet_style{
		margin: 1rem 0;
	}
}
.sub-hdr{
	
	max-width: 450px;
	margin-bottom: 1rem;
	@include h_resize(1.5rem, 600px 400px)
}
.wp-image-1166, .wp-image-1167{
 margin-top:1.2rem
}
.v3-wrap{
	@include tablet_style{
		@include absolute_box('.top-txt-mobile', 0, 50%,-50% 0){
			width: 90%;
		};
		style + .ma {
			padding-top: 15rem;
			background-color: #fbfbfb;
		}
	}
	@include max_style(600px){
		style + .ma {
			padding-top: 47vw;
			background-color: #fbfbfb;
		}
	}
}
h1, h2, h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
@include h_resize(3.2rem, 1100px 1030px 1000px 868px 600px 470px 440px 390px);
}
.v3-b-1 {
	@include button_style ($v3b1);
	@include input_box_style ($v3b1,$stacked:true);
	@include desktop_style{
		@include background_set(100% 0, cover);
		.txt-width{
			max-width: 450px;
		}
		.v3-b-inner-content{
			padding: 5% 0 20% 0;
			max-width: 550px;
		}
	}
	@include max_min_style(1600px){
		margin-bottom: -7rem;
		@include background_set(100% 0, auto 100%);
	}
	@include tablet_style{
		.v3-b-top-content, .v3-b-bottom-content {
			text-align: left;
		}
	}
}
.v3-l{
	@include tablet_style{
		@include cnl_padding_remove_flip(true, false);
	}
}
.v3-l-2{
	@include desktop_style{
		.half-bg-inner{
			padding: 5% 1rem;
		}
	}
}
.v3-l-3{
	ul{
		display: flex;
		list-style-type: none;
		li{
			@include blt_pnt_style(50%,-1.5rem){
				font-size: 2.5rem;
				font-weight: 700;
				transform: translate(-50%,-50%);
			};
			&:first-child::before{
				content: '1';
			}
			&:nth-child(2)::before{
				content: '2';
			}
			&:last-child::before{
				content: '3';
			}
		}
	}
	.wp-image-1174{
		@extend %desktop-only;
	}
@include desktop_style{
	.half-bg-inner{
		padding: 7% 2rem 40% 2rem;
		@include absolute_box('.wp-image-1174', auto, 52%, -50% 0){
			width: 98%;
			bottom: 0;
			margin: 0;
		};
	}
	.half-bg-content{
		max-width: 600px;
	}
	ul{
		font-size: 0.9em;
		justify-content: space-between;
		align-items: center;
	}
	li{
		
		flex-basis: 20%;
		&:first-child{
			flex-basis: 35%;
		}
	}
	
}
@include tablet_style{

	ul{
		flex-direction: column;
		padding-left: 2.5rem;
		li{
			margin-bottom: 1.5rem;
		}
	}
}
}
.v3-l-4{
	.wp-image-1167{
		@extend %desktop-only;
	}
	@include desktop_style{
		.half-bg-img{
			@include background_set(100% 0, contain);
			height: 120%;
			top:0;
			z-index: 1;
		}
	}
	
}
.v3-m{
	@include m_section();
	@include desktop_style{
		text-align: center;
	}
}
.v3-m-7{
	background-color: #F5F5F5;
	.big-image{
		max-width: 1150px;
	}
	@include desktop_style{
		padding-bottom: 10rem;
		margin-bottom: -7rem;
	}
	@include tablet_style{
		padding-bottom: 2rem;
		.ma{
			width: 87%;
		}
	}
}
.v3-m-8{
.big-image{
	max-width: 1250px;
}
}
.v3-n:last-child {
	@include button_style ($v3n);
	@include input_box_style ($v3n);
	@include n_content ($color:#121212,$full-width:60% auto);
}
.modal {
	.modal-inner {
		.modal-text {
			h2 {
				font-size: 2.3rem !important;
			}
			h2,
			p {
				color: #323438 !important;
			}
		}
	}
	@include button_style ($modal,false);
}